{{#if visible}}
  {{#if (eq type 'wp')}}
      <div class="lo"></div>
      <div class="lo"></div>
      <div class="lo"></div>
      <div class="lo"></div>
      <div class="lo"></div>
  {{/if}}
  {{yield}}
{{/if}}
