.date-picker {
  display: inline-block;
  > input {
    padding-right: 24px !important;
  }

  > .icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .date-picker-header {
    padding: 10px;
    font-size: 18px;
  }
  .year, .month {
    margin: 0 3px;
    padding: 0 3px;
    margin-top: 5px;
    display: inline-block;
    position: relative;
    .arrow-up {
      cursor: pointer;
      position: absolute;
      top: -10px;
      border-bottom: solid 6px #333;
      border-left: solid 6px transparent;
      border-right: solid 6px transparent;
      left: 50%;
      margin-left: -6px;
    }
    .arrow-down {
      cursor: pointer;
      position: absolute;
      bottom: -10px;
      border-top: solid 6px #333;
      border-left: solid 6px transparent;
      border-right: solid 6px transparent;
      left: 50%;
      margin-left: -6px;
    }
    &:hover {
      background-color: #eee;
    }
  }
  .month {
    width: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .date-time{
  }
  .date-second{

  }
  .date-picker-container {
    width: 240px;
    height: 300px;
    padding: 5px;

    table.date-picker-date-chooser {
      width: 100%;
      table-layout: fixed;
      font-size: 0;
      th, td {
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        @include user-select(none);
      }

      th {
        padding: 6px;
      }
      td {
        padding: 2px;
        & > div {
          padding: 4px;
        }
      }

      td.fade {
        color: #999;
      }

      td:hover > div {
        background-color: #ccc;
      }

      td.active > div {
        background-color: #bbb;
      }
    }
  }
}
