.emoji-textarea {
  .content {
    outline: none;
    @include box-sizing(border-box);
    margin-bottom: 5px;
    padding: 8px 7px;
    @include border-radius(2px);
    //@include box-shadow(0 0 3px rgba(0, 0, 0, 0.1));
    height: 200px;
    overflow: auto;
    border: solid 1px $site-default-border-color;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #fff;
    &:focus {
      //border: solid 1px $color-primary;

      //box-shadow: 0 0 6px rgba(0, 0, 0, .16);
    }

    img {
      vertical-align: middle;
    }
  }

  .img-list {
    width: 280px;
    table-layout: fixed;
    td {
      border: solid 1px $site-default-border-color;
      padding: 3px;
      @include box-sizing(border-box);
      width: 30px;
      height: 30px;
      font-size: 0;
      img {
        height: 24px;
        width: 24px;
      }
    }
  }

  .pages {
    cursor: default;
    font-size: 0;
    .page {
      font-size: 14px;
      padding: 6px 4px;
      display: inline-block;
      cursor: pointer;
    }
  }
}

.emoji-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 16px;
  img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
}
