/**
 * entrance animation style
 */

.entrance{
  @include animation-duration(.3s);
  @include animation-fill-mode(backwards);
  @include animation-timing-function(ease);
  &.slide-in-down{
    @include animation-name(slide-in-down);
  }
  &.zoom-in{
    @include animation-name(zoom-in);
  }
  &.fade-in{
    @include animation-name(fade-in);
  }
  &.slide-left-in{
    @include animation-name(slide-left-in);
  }
}

span.entrance{
  display: inline-block;
}

@include keyframes(slide-in-down){
  0%{
    @include translate3d(0,25px,0);
    opacity: .6;
  }

  100%{
    @include translate3d(0,0,0);
    opacity: 1;
  }
}

@include keyframes(zoom-in){
  0%{
    @include scale(0);
  }

  100%{
    @include scale(1);
  }
}

@include keyframes(fade-in){
  0%{
    @include opacity(0);
  }

  100%{
    @include opacity(1);
  }
}

@include keyframes(slide-left-in){
  0%{
    @include translate3d(10%,0,0);
  }

  100%{
    @include translate3d(0,0,0);
  }
}
