<div class="text-center" style="color:#999;position: absolute;top:40%;left:0;right:0;">
    <span style="display:inline-block;text-align: left;">
        <h1 style="font-size: 60px;">:(</h1>
      {{if model.msg  model.msg '页面崩了'}}
    </span>
</div>