<div class="entrance slide-in-down">
    <p></p>
    <h2>常见问题</h2>
    <div style="padding: 4px 2px;">
        <h4 class="text-danger">没法上传图片</h4>
        <h5 class="text-caution">请使用chrome,firefox等浏览器,此版本浏览器支持和旧版差不多</h5>
        <br/>
        <h4 class="text-danger">帖子列表不能关键字和用户名查询</h4>
        <h5 class="text-caution">接口不支持,后续会加入</h5>
        <br/>
        <h4 class="text-danger">生活圈发表无法选择定时和置顶</h4>
        <h5 class="text-caution">接口不支持,后续会加入</h5>
        <br/>
        <h4 class="text-danger">发表推荐如何保存草稿</h4>
        <h5 class="text-caution">系统10秒会自动保存 注意:退出登录后会丢失草稿</h5>
        <br/>
        <h4 class="text-danger">草稿能保存几份</h4>
        <h5 class="text-caution">只有一份,没听说过这方面的需求</h5>
        <br/>
        <h4 class="text-danger">生活圈帖子有草稿吗</h4>
        <h5 class="text-caution">没有</h5>
        <br/>
        <h4 class="text-danger">生活圈帖子能进行回复吗</h4>
        <h5 class="text-caution">暂时没有</h5>
        <br/>
        <h4 class="text-danger">生活圈帖子能进行回复吗</h4>
        <h5 class="text-caution">暂时没有</h5>
        <br/>
        <h4 class="text-danger">侧边栏没法固定</h4>
        <h5 class="text-caution">请保证你的浏览器宽度大于800px</h5>
        <br/>
        <h4 class="text-danger">界面颜色不好看</h4>
        <h5 class="text-caution">请切换皮肤,实在不行我也没办法,没UI</h5>
        <br/>
        <h4 class="text-danger bold">我遇到bug了?</h4>
        <h5 class="text-caution">找杨骐彰</h5>
    </div>
</div>
