<div class="entrance slide-in-down">
    <p></p>
    <h3>这是新版本的小生活后台管理</h3>
    <!--<h3>如你所见,变化很大,因为重写了上一版本的全部代码</h3>-->
    <!--<h3>由爱折腾的杨骐彰提供技术支持</h3>-->
    <h3>有什么好的意见和建议请联系390467376:-)</h3>
    <br/>
    <h1 class="text-theme">更新日志</h1>
    <div>
        <h3>V0.1.6 beta(2016/10/18)</h3>
        <p>修改了部分bug，优化了部分功能</p>
    </div>
    <div>
        <h3>V0.1.6 beta(2016/9/19)</h3>
        <p>修改了物流模块和订单模块的bug</p>
    </div>
    <div>
        <h3>V0.1.6 beta (2016/9/14)</h3>
        <h4>这一次添加了很多新的模块</h4>
        <p>几乎重做订单模块（新增退款和物流）</p>
        <p>增加团购订单</p>
        <p>增加商品分类</p><!--这儿真是难-->
        <p>增加商品模板管理和商品管理</p><!--这儿也真是难-->
        <p>增加商家管理</p>
        <p>增加banner管理</p>
    </div>
    <!--    <p>第二期变化比较大，原作者杨骐彰已经离职，以上版本由他的
    徒弟王槐泾接盘。代码风格变化比较大，请自己适应，
        有些旧模块的代码没有删除。ps：其实是留着学习，同时留作纪念:-D。
        ps的ps：可能还有些坑，同时吐槽一句ember真麻烦，后来的同学有精力就迁移一下。
    </p>-->
    <div>
        <h3>V0.1.5 beta (2016/4/18)</h3>
        <p>界面微调</p>
        <p>若干bug修复</p>
    </div>
    <br>
    <div>
        <h3>V0.1.5 beta (2016/4/8)</h3>
        <p>添加banner管理模块</p>
        <p>若干bug修复</p>
    </div>
    <br>
    <div>
        <h3>V0.1.4 beta (2016/4/6)</h3>
        <p>更改弹窗样式</p>
        <p>部分界面调整</p>
    </div>
    <br>
    <div>
        <h3>V0.1.3 beta (2016/3/24)</h3>
        <p class=text-danger>*修复发帖鼠标右键bug</p>
        <p>帖子查询支持关键字查询(目前仅测试服可用)</p>
        <p>部分界面调整</p>
    </div>
    <br>
    <div>
        <h3>V0.1.2 beta (2016/3/23)</h3>
        <p class="text-danger">*修复发帖表情点击关闭弹窗的bug</p>
        <p class="text-danger">*修复内容为空时,发表情会换行的bug</p>
        <p class="text-danger">*修复drop-down-menu关闭可能失效的bug</p>
        <p class="text-caution">已知问题:ie10发帖框可能会自动多换一行,请手动删除一下.</p>
        <p>生活圈发帖可以预览图片</p>
        <p>点击帖子图片能正常显示大图,此前仍显示缩略图</p>
        <p>帖子列表详情现在正确显示gif表情</p>
        <p>修改了select控件样式</p>
    </div>
    <br>
    <div>
        <h3>V0.1.1 beta (2016/3/22)</h3>
        <p>生活圈发帖可以支持表情</p>
    </div>
    <br>
    <div>
        <h3>V0.1 beta (2016/3/18)</h3>
        <p>切换框架,采用全新界面和风格,可切换主题色</p>
        <p>推荐的发布和查看,删除</p>
        <p>生活圈帖子的发布和查看,删除</p>
        <p>个人信息修改以及修改密码</p>
    </div>
</div>
